<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hor_1_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{166,14},{12,8}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_1_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{14,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{14,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_1_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{96,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_1_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_2_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{136,16},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_2_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,16},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_2_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,16},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_2_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{80,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_3_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{136,16},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_3_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,16},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_3_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,16},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_3_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{80,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_4_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{154,10},{12,8}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{12,8}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_4_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{14,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{14,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_4_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hor_4_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{64,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_1_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{166,22},{8,12}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{8,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_1_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{144,14},{10,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_1_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_1_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{48,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_2_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_2_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_2_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_2_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_3_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{32,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_3_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_3_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{16,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_3_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{16,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_4_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{8,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{8,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_4_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_4_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_4_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_5_1.gif</key>
            <dict>
                <key>frame</key>
                <string>{{154,18},{8,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_5_2.gif</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{10,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_5_3.gif</key>
            <dict>
                <key>frame</key>
                <string>{{0,16},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>ver_5_4.gif</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb_effect.png</string>
            <key>size</key>
            <string>{178,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58bba8ccd3238b71dced40d00a686278$</string>
            <key>textureFileName</key>
            <string>bomb_effect.png</string>
        </dict>
    </dict>
</plist>
